@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "WelcomePage";
}
<div class="text-center" style="margin-top:100px;">
    <h1 class="display-4">Välkommen till ditt nya spelbibliotek</h1>
    
</div>
